{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-param-reassign": ["error", { "props": false }]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ]
}
