{
  "extends": ["airbnb", "plugin:jasmine/recommended"],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-param-reassign": ["error", {
      "props": false
    }],
    "func-names": 0,
    "prefer-arrow-callback": 1,
    "jasmine/no-spec-dupes": ["warn", "branch"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jasmine"
  ]
}
