{
  "extends": ["airbnb-base"],
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-param-reassign": ["error", {
      "props": false
    }],
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "default-case": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": true}],
    "class-methods-use-this": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "afterEach": false,
    "beforeEach": false,
    "describe": false,
    "expect": false,
    "it": false,
    "jasmine": false,
    "pending": false,
    "spyOn": false,
    "waits": false,
    "waitsFor": false,
    "xdescribe": false,
    "xit": false,
    "beforeAll": false,
    "afterAll": false,
    "runs": false
  }
}
